@import './base/variables', './base/fonts', './base/reset', './base/base', './base/typography';

section {
    justify-content: space-between;
    padding-top: 46px;

    // Starting at tablet width
    @media only screen and (min-width: $bp-tablet) {
        padding-top: 64px;
        padding-bottom: 64px;        
    }

    &.text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;


        > :nth-child(2) {
            transform: translateY(-10%);

            @media screen and (min-width: $bp-tablet) {
                margin-left: $col-plus-gutter-tablet;
            }

            @media screen and (min-width: $bp-desktop-sm) {
                margin-left: $col-plus-gutter-desktop;
            }
        }
    }

    // Right/bottom section
    &:last-child {
        display: block;
        overflow: auto;
        padding-bottom: 22px;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        // Starting at tablet width
        @media only screen and (min-width: $bp-tablet) {
            max-height: 100vh;
            padding-left: 72px;
            padding-bottom: 36px;
        }

    }
}