.SocialLink {
    margin-right: 48px;

    a {
        display: flex;
        flex-direction: row;
        
        > :first-child {
            margin-right: 6px;
        }
        
        > :last-child {
            margin-left: 8px;
            width: 11px;
            transform: translateY(0px);
        }
    }
}