.ProjectBlock {
    margin-bottom: 20px;
    min-height: 120px;
    padding: 36px 42px 32px 32px;
    display: block;
    border-radius: 4px;
    background-color: #68686841;
    color: #bbbbbb;
    font-weight: 400;
    transition: .2s;


    &:hover {
        background-color: #ff3e588a;
        font-weight: 400;
    }

// Child components
    > p:first-child {
        text-transform: uppercase;
        font-size: .8em;
    }
}