@import '../../styles/base/bp_variables';

.Cursor {
    visibility: hidden;   // invisible on tablet/phone

    @media only screen and (min-width: $bp-desktop-sm) {
        // white circle outline:
        visibility: visible;
        width: 30px;
        height: 30px;
        pointer-events: none;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 100%;
        background: transparent;
        border: 1px solid #ffffff52;
        
        z-index: 99999;
        transition: top .05s, left .05s, transform .4s;
        transition-timing-function: ease-out;
        transform: translate(-10px, -10px);


        > div {     // white dot in the center
            pointer-events: none;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            display: block;
            background-color: rgba(255, 255, 255, 0.692);
        }

        > div.cursorImg {
            display: block;
            position: absolute;
            background-position: center;
            background-size: cover;
            
            width: 15px;  // these change on linkHover
            height: 15px;
            opacity: 0;
            transition: .4s ease-out 0s, opacity .1s ease-out .3s;
            
            // Cursor images
            &.Pika {
                background-image: url('https://media.tenor.com/images/355768ac7cb43a305e2d5876896e1a03/tenor.gif');
            }

            &.Yoda {
                background-image: url('https://images.superguide.nl/R3I99wllpPmvytYyr7uoF38b0bA=/1200x630/smart/superguide.nl/s3fs-public/main_media/maker_legt_uit_waar_baby_yoda-verwarring_vandaan_komt.jpg?itok=OF9ol36e&nid=30357');
            }
        }


        &.lightTheme {
            border: 1px solid rgba(0, 0, 0, 0.25);

            > div {
                background-color: rgba(0, 0, 0, 0.65);
            }
        }

        &.darkTheme {}

        
        // HOVER EFFECTS CURSOR 
        &.hoverLink {   // changes .Cursor on link hover
            transform: translate(-15px, -15px) scale(4, 4);

            > div {
                opacity: 0;

                &.cursorImg {
                    width: 30px;
                    height: 30px;
                    opacity: .84;
                    transition: .4s ease-out 0s;
                }
            }
        }
    }
}