body {
    color: $color-text;
    font-family: $base-font;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.6em;
    background: $offwhite;

    overflow-x: hidden;
    scroll-behavior: smooth;
        
    *::selection {
        background-color: darken($black, 2%);
        color: $white;
    }
}

// Standard side padding of the page
.side-padding-page {
    padding: 0 $side-padding-mobile;

    @media screen and (min-width: $bp-tablet) {
        padding: 0 $side-padding-tablet
    }

    @media screen and (min-width: $bp-desktop-sm) {
        padding: 0 $side-padding-desktop;
    }
}

// Layout styling (sections)
.Layout {
    background-color: $offwhite;
    
    // main is 1712px wide, divided in 2 sections
    main {
        @extend .side-padding-page;
        height: 100vh;
        width: 100%;
        max-width: 1712px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    
        > section {
            // mobile
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;

            // tablet and up
            @media screen and (min-width: $bp-tablet) {
                width: 50%;
            }
            
            // "special" style classes
            &.double-padding-top {
                padding-top: 2 * $margin-sections-mobile;

                @media screen and (min-width: $bp-tablet) {
                    padding-top: 2 * $margin-sections-tablet;
                }

                @media screen and (min-width: $bp-desktop-sm) {
                    padding-top: 2 * $margin-sections-desktop;
                }
            }

            &.strip-padding-top {
                padding-top: 0;
            }

            &.centered {
                justify-content: center;
                text-align: center;
            }

            &.fullwidth {
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
            }   
        }
    }
}