@import './variables';

a, a:visited, a:hover, a:active {
    font-size: 1em;
    line-height: 32px;
    font-weight: 700;
    position: relative;
    color: $color-link;
    
    @media screen and (max-width: $bp-tablet) {
    }

    @media screen and (max-width: $bp-mobile) {
    }
}

h1 {
    // mobile + tablet
    color: $color-heading;
    font-size: 32px;
    line-height: 1.3em;
    font-weight: 700;
    margin-bottom: 16px;

    > span {
        display: block;
    }
    
    // tablet
    @media screen and (min-width: $bp-tablet) {
        font-size: 42px;
    }
    
    // desktop small
    @media screen and (min-width: $bp-desktop-sm) {
        margin-bottom: 24px;
        font-size: 60px;
    }

    // desktop md and up
    @media screen and (min-width: $bp-desktop-md) {
        font-size: 68px;
    }
}

h2 {
    //mobile + tablet
    color: $color-heading;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 32px;

    // desktop small
    @media screen and (min-width: $bp-desktop-sm) {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 72px;
    }
}

h3 {
    //mobile + tablet
    color: $color-heading;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;

    // desktop small
    @media screen and (min-width: $bp-desktop-sm) {
        font-size: 22px;
        font-weight: 600;
    }
}